@media (max-width: 620px) {
  .remove {
    display: none;
  }
  .add {
    width: 100%;
  }
  .show {
    position: absolute;
    left: 0;
    transition: all 1s;
    background-color: blue;
  }
  .hide {
    position: absolute;
    left: -100%;
    transition: all 1s;
    background-color: red;
  }
}
